div {
	width: 400px;
}

.position {
	width: 800px;
}

li {
	display: inline-block;
	text-align: center;
	border-bottom: 1px solid white;
}

ul {
	list-style-type: none;
	margin: 10px;
	padding: 10px;
	width: 530px;
	background-color: black;
	border: 2px solid #555;
	overflow: auto;
	padding: 0px;
}

li a {
	color: cyan;
	padding: 8px 16px;
	text-decoration: none;
}

li a.current {
	background-color: #CA7EFC;
	color: white;
}

li a:hover {
	background-color: yellow;
	color: black;
}

body {
	background-color: lightblue;
	border: double;
	border-color: yellow;
	border-width: 20px;
}

a {
	color: blue;
	text-align: left;
	font-family: arial;
	font-size: 20px;
	text-decoration: none;
}

img {
	width: 100%;
}

h1 {
	font-family: arial;
	font-size: 40px;
	text-transform: uppercase;
	text-decoration: underline;
	letter-spacing: 2px;
}

h2 {
	font-family: arial;
	font-size: 30px;
	width: 800px;
}
